@page "/"

<PageTitle>DXS | RAZOR APP</PageTitle>

<h1>WELCOME TO MY SPA APP!</h1>
It's a new Blazor application, about using some basics functions of blazor!<br>
Bellow we have adding a component:
<Counter IncrementAmount="10"/> <!--adding a new component.razor to a another-->
